/*
 * repository css file
 */

/*
 * basic css and footer
 */
body {
    height: 100%;
}
html {
    overflow-y:scroll;
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height */
    padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
    padding-top: 20px;
    height: 50px;
    background-color: #f5f5f5;
}


/*
.nav-poly {
    padding-right: 30px;
}
.nav-poly li {
    padding-right: 10px;
}
.hero {
    display: table;
    width: 100%;
    padding: 90px 10px 90px ;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background: url(../image/lib.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.hero h1 {
    color: #ffffff;
    text-align: center;
}

.hero > .main_p {
    color: #7a7a7a;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.hero p {
    color: #ffffff;
    text-align: center;
}

.hero .text-center {
    padding-top: 30px;
}
.well-pad {
    margin: 30px 10px 0px 10px;
}
.well-pad p {
    font-size: 17px;
}
*/

.helvetica {
    font-size: 15px;
}
.my_center,
.contact-center {
    padding-top: 30px;
    padding-bottom: 20px;
}

.my_center h3 ,
.my_center p {
    text-align: center;
}

/* repository general */
.navbar-inverse {
    background-color: #2a3440;
    border-color: #2a3440;
}

.list_col {
    padding-left: 25px ;
}

.panel-heading {
    padding: 5px 10px ;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

/* red link */
a.red_link:link, a.red_link:visited {
    color: #E51400;
    text-decoration:none;
}

/* none decoration link */
a.none_dec:link {
    text-decoration:none;
}

/* top navbar */
.navbar-inverse .navbar-brand {
    color: #ffffff;
}

/* search page */
.main_label {
    font-size: 23px;
    padding: .2em .4em .2em;
}
.well_search {
    padding-top: 30px;
    padding-bottom: 10px;
}

/* statistic page */
#btn_group {
    padding-top: 40px ;
}

.img-thumbnail {
    border: none ;
}

/* author list page */
.indexlabel {
    font-size: 23px;
    padding: 5px 15px 5px;
}

/* banner test */
.banner {
    position: relative; overflow: auto;
}
.banner li {
    list-style: none;
}
.banner ul li {
    float: left;
}


/* new header */
header {
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background: url(../image/lib1.jpg) no-repeat center center scroll;
    background-size: cover;
}
header .intro-text {
    padding-top: 165px;
    padding-bottom: 125px;
}
header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
}
header .intro-text .intro-heading {
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
}


@media(min-width:768px) {
    header .intro-text {
        padding-top: 180px;
        padding-bottom: 125px;
    }
    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 30px;
    }
    header .intro-text .intro-heading {
        margin-bottom: 40px;
        font-size: 65px;
        font-weight: 600;
        line-height: 65px;
    }
    .main_b {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
    }
    .contact-center {
        padding-left: 110px;
        padding-right: 110px;
    }
}

.nav-poly {
    padding-top: 20px;
    padding-right: 20px;
}
.nav-poly > li {
    padding-left: 10px;
}
.nav-poly > li > a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
.nav-poly > li > a:hover,
.nav-poly > li > a:focus {
    color: #fed136;
}
